[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Dell G Series Controller
Comment=Dell G15 5530 keyboard lighting and fan controller
Exec=/home/pgvm/Dell-G-Series-Controller/launch-dell-g-series-controller.sh
Path=/home/pgvm/Dell-G-Series-Controller
Icon=/home/pgvm/Dell-G-Series-Controller/alien-square.png
StartupWMClass=dell-g-series-controller
StartupNotify=true
Categories=Utility;System;