[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Dell-5530-Controller
Comment=Dell G15 5530 keyboard lighting and fan controller
Exec=/home/pgvm/Dell-5530-Controller/launch-Dell-5530-Controller.sh
Path=/home/pgvm/Dell-5530-Controller
Icon=/home/pgvm/Dell-5530-Controller/assets/images/alien-square.png
StartupWMClass=Dell-5530-Controller
StartupNotify=true
Categories=Utility;System;